<div class="jumbotron">
    <h1>Тестовый проект на соискание должности .Net Программист</h1>
</div>
<form>
    <p><button formaction="/Home/Menu">Таблицы API</button></p>
</form>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-4">

            <p><a href="https://metanit.com/sharp/mvc/12.2.php">Ссылка</a></p>
            <p>
                <a href="https://forums.asp.net/t/1992323.aspx?Auto+Increment+Identity+does+not+work+in+Entity+Framework">Ссылка
                </a>
            </p>
        </div>
    </div>
</div>